<!DOCTYPE html>
<html>
  <head>
	<meta charset="UTF-8">
	<script src="https://unpkg.com/react@15/dist/react.min.js"></script>
	<script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.24.0/babel.js"></script>

  </head>
  <body>
	    <div id="root"></div>
	    <script type="text/babel">
            class Details extends React.Component{
                render(){
                    return (
                        <h1>{this.props.details}</h1>
                    )
                }
            }

            class Button extends React.Component{
                render(){
                    return(<button style={{color: this.props.active ? 'red' : 'blue'}} onClick = {()=>this.props.clickHandler(this.props.id, this.props.name)}> {this.props.name} </button>)
                }
            }

            class App extends React.Component{
                constructor(props){
                    super(props)
                    this.state = {activeArr: [0,0,0,0], details: ""}
                    this.clickHandler = this.clickHandler.bind(this)
                    
                }
                clickHandler(id,details){
                    var arr = [0,0,0,0]
                    arr[id] = 1
                    this.setState({activeArr:arr, details: details})
                    console.log(id)
                }
                render(){
                    return(
                        <div>
                            <div>
                                <Button id = {0} active={this.state.activeArr[0]} clickHandler = {this.clickHandler} name = "One"/>
                                <Button id = {1} active={this.state.activeArr[1]} clickHandler = {this.clickHandler} name = "Two"/>
                                <Button id = {2} active={this.state.activeArr[2]} clickHandler = {this.clickHandler} name = "Three"/>
                                <Button id = {3} active={this.state.activeArr[3]} clickHandler = {this.clickHandler} name = "Four"/>
                            </div>
                            <div>
                                <Details details = {this.state.details}/>
                            </div>
                        </div>
                    )
                }
            }
            ReactDOM.render(
                <App />,
                document.getElementById("root")
            )
	    </script>
  </body>
</html>
