<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>

</head>
<body>


	<div id="content">
		<h1>Register</h1>
		<form method="POST" th:object="${spitter}" th:action="@{/spitter/register}">
			<label>Full Name</label>: <input type="text" th:field="*{fullName}" /><br />
			
			<label>Email</label>: <input type="text" th:field="*{email}" /><br />
			
			<label>User name</label>: <input type="text" th:field="*{username}" /><br />
			
			<label>Password</label>: <input type="password" th:field="*{password}" /><br /> 
			
			<input type="submit" value="Register" />
		</form>
	</div>
</body>
</html>