<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>UploadFile</title>
  <link rel="stylesheet"
        type="text/css"
        th:href="@{/resources/style.css}"></link>
</head>
<body>
<h1>Upload file with Thymeleaf</h1>
<form method="POST"  enctype="multipart/form-data">
  <label>Profile picture</label>
  <input type="file" name="profilePicture" accept="image/jpeg,image/png,image/gif" /><br />
  <input type="submit" value="Register"/>
</form>
</body>
</html>